
.custom-button {
    padding: 10px 30px;
    height: max-content;
    width: max-content;
    color: white;
    background-color: rgba(176, 151, 106, 1);
    border: 1px solid rgba(176, 151, 106, 1);
    outline: transparent;
    transition: all 0.3s;
    cursor: pointer;
}
.custom-button:hover {
    /*background-color: $color-primary-hover;*/
}

.custom-button__disabled {
    color:rgba(191, 191, 191, 1);
    background-color: rgba(245, 245, 245, 1);
    border-color: rgba(245, 245, 245, 1);
    cursor: default;
}
.custom-button__disabled:hover {
    color:rgba(191, 191, 191, 1);
    background-color:  rgba(245, 245, 245, 1);
    border-color:  rgba(245, 245, 245, 1);
}