*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}
a:not([class]) {
    text-decoration-skip-ink: auto;
}
img {
    max-width: 100%;
    display: block;
}
input,
button,
textarea,
select {
    font: inherit;
}
button:disabled,
button[disabled]{
    background-color: #cccccc;
    color: #666666;
}
button {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: #1081f1;
    color: white;
}

